.container div {
    border: 1px white solid;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows:
        grid-auto-rows:
        grid-auto-columns */

    background-color: black;
    color: white;
    margin: 10px;
    padding: 10px;
}

.one {
    font-family:'Arial Narrow Bold', sans-serif;
    grid-column: span 3;
}

.two {
    font-family: Georgia, Times, 'Times New Roman', serif;
    grid-column: span 2;
}

.three {
    font-family: sans-serif;
}

.four {
    grid-column: span 3;
}

.contain div {
    border: 2px solid pink;
    background-color: aqua;
    text-align: center;
}

.contain {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-column: span 3;
}

.uno {
    grid-column: span 3;
}

.dos {

}

.thres {

}

.quatro {

}


.uno {

}
