.container div {
    border: 1px white solid;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows:
        grid-auto-rows:
        grid-auto-columns */
        
    background-color: black;
    color: white;
    margin: 10px;
    padding: 10px;
}

.one {
    font-family:'Arial Narrow Bold', sans-serif;
}

.two {
    font-family: Georgia, Times, 'Times New Roman', serif;
}

.three {
    font-family: sans-serif;
}

